<!-- Bắt đầu Thanh bên (Sidebar) -->
<div class="sidebar-wrapper" th:fragment="sidebar">
    <div id="sidebarEffect"></div>
    <div>
        <div class="logo-wrapper logo-wrapper-center">
            <a th:href="@{/warehouse}" title="">
                <img class="img-fluid for-white" th:src="@{/Backend/assets/images/logo/full-white.png}" alt="logo">
            </a>
            <div class="back-btn">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="toggle-sidebar">
                <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
            </div>
        </div>
        <div class="logo-icon-wrapper">
            <a th:href="@{/warehouse}">
                <img class="img-fluid main-logo main-white" th:src="@{/Backend/assets/images/logo/logo.png}" alt="logo">
                <img class="img-fluid main-logo main-dark" th:src="@{/Backend/assets/images/logo/logo-white.png}" alt="logo">
            </a>
        </div>
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow">
                <i data-feather="arrow-left"></i>
            </div>

            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn"></li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" th:href="@{/warehouse}">
                            <i class="ri-home-line"></i>
                            <span>Trang chủ</span>
                        </a>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-download-2-line"></i>
                            <span>Nhập kho</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li><a th:href="@{/warehouse/stockin}">Danh sách nhập kho</a></li>
                            <li><a th:href="@{/warehouse/addstockin}">Tạo phiếu nhập</a></li>
                            <li><a th:href="@{/warehouse/stockindetail}">Chi tiết nhập kho</a></li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-upload-2-line"></i>
                            <span>Xuất kho</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li><a th:href="@{/warehouse/stockout}">Danh sách xuất kho</a></li>
                            <li><a th:href="@{/warehouse/addstockout}">Tạo phiếu xuất</a></li>
                            <li><a th:href="@{/warehouse/returnstockout}">Yêu cầu trả về</a></li>
                            <li><a th:href="@{/warehouse/stockoutdetail}">Chi tiết xuất kho</a></li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-barcode-box-line"></i>
                            <span>Lô sản phẩm</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li><a th:href="@{/warehouse/productbatch}">Danh sách lô</a></li>
                            <li><a th:href="@{/warehouse/addproductbatch}">Thêm lô mới</a></li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-truck-line"></i>
                            <span>Nhà cung cấp</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li><a th:href="@{/warehouse/supplier}">Danh sách nhà cung cấp</a></li>
                            <li><a th:href="@{/warehouse/addsupplier}">Thêm nhà cung cấp</a></li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-equalizer-line"></i>
                            <span>Điều chỉnh</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li><a th:href="@{/warehouse/adjustment}">Danh sách điều chỉnh</a></li>

                        </ul>
                    </li>
                </ul>
            </div>

            <div class="right-arrow" id="right-arrow">
                <i data-feather="arrow-right"></i>
            </div>
        </nav>
    </div>
</div>
<!-- Kết thúc Thanh bên -->
