
<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="BackEnd/fragments/Admin/head::head"></head>
<style>
    .alert-success {
        background-color: #d1e7dd !important;
        color: #0c0c0c !important;
    }

    .category-img img{
        width: 65px;
        height: auto;
        border-radius: 50%;
    }

    #deleteModalStartMsg p{
        font-size: 1rem;
    }

    li.page-item{
        margin: auto 5px;
    }

    a.page-link{
        border: 3px solid #fff;
    }

    .page-link:focus{
        box-shadow: none;
    }
    /*#2ecc71;*/
    a.page-link.is-active, li.page-item.is-active a{
        background: rgb(13 191 174);
        color: #fff;
        border: 3px solid rgb(13 191 174);
        font-weight: bold;
    }

    .disabled{
        cursor: default !important;
    }

    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
        min-width: 100px;
        text-align: center;
    }

    table.dataTable thead th{
        text-align: center !important;
    }

    /* Canh giữa nội dung trong th */
    table.dataTable thead th {
        text-align: center !important;
        vertical-align: middle;
        white-space: nowrap;
    }

    /* Canh giữa icon sort */
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after {
        margin-left: 5px;
        float: none;
        position: relative;
        top: 1px;
    }

    div.dataTables_filter {
        float: left !important; /* Đẩy sang trái */
        margin-bottom: 1rem;
    }

    .dataTables_wrapper .dataTables_filter input {
        padding: 7px;
        font-size: 16px;
    }

</style>
<body>
<!-- tap on top start -->
<div class="tap-top">
    <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end -->

<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    <div th:replace="BackEnd/fragments/Admin/header::header"></div>
    <!-- Page Header Ends-->

    <!-- Page Body Start -->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <div th:replace="BackEnd/fragments/Admin/sidebar::sidebar"></div>
        <!-- Page Sidebar Ends-->

        <!-- Container-fluid starts-->
        <div class="page-body">
            <!-- All User Table Start -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-table">
                            <div class="card-body">
                                <div class="title-header option-title">
                                    <h5>Danh sách danh mục</h5>
                                    <form class="d-inline-flex">
                                        <a th:href="@{/admin/add_category}"
                                           class="align-items-center btn btn-theme d-flex">
                                            <i data-feather="plus-square"></i>Thêm mới
                                        </a>
                                    </form>
                                </div>

                                <div class="table-responsive category-table">
                                    <div>
                                        <table class="table all-package theme-table" id="table_id">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên danh mục</th>
<!--                                                    <th>Description</th>-->
                                                    <th>Trạng thái</th>
                                                    <th>Ảnh</th>
                                                    <th>Thao tác</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                            <tr th:each="category, init : ${categories}">
                                                <td th:text="${init.count}"></td>
                                                <td th:text="${category.getName()}"></td>
<!--                                                <td th:text="${category.getDescription()}"></td>-->
                                                <td th:switch="${category.getStatus()}">
                                                    <span th:case="'ACTIVE'" class="text-success fw-bold">ĐANG HOẠT ĐỘNG</span>
                                                    <span th:case="'INACTIVE'" class="text-danger fw-bold">NGỪNG HOẠT ĐỘNG</span>
                                                </td>
                                                <td>
                                                    <div class="category-img">
<!--                                                        <img th:src="@{'/Backend/assets/images/category/' + ${category.getImageUrl()}}"-->
<!--                                                             class="img-fluid" alt="">-->
                                                        <img th:src="@{'/admin/' + ${category.getImageUrl()}}" class="img-fluid" alt="">
                                                    </div>
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a href="order-detail.html">
                                                                <i class="ri-eye-line"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a th:href="@{'/admin/edit_category/' + ${category.getId()}}">
                                                                <i class="ri-pencil-line"></i>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="javascript:void(0)" data-bs-toggle="modal"
                                                                data-bs-target="#deleteModalStart"
                                                                th:attr="data-id=${category.getId()}">
                                                                <i class="ri-delete-bin-line"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- All User Table Ends-->

            <!-- Pagination Start -->
            <nav aria-label="Page navigation" th:if="${totalPages > 1}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a class="page-link is-active" th:href="@{'/admin/categories?page=' + ${currentPage - 1}}" aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                        </a>
                    </li>

                    <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                        th:classappend="${pageNumber == currentPage.toString()} ? 'is-active'">
                        <span style="padding: .375rem .75rem; border: 3px solid transparent;"
                              th:if="${pageNumber == '...'}">...</span>
                        <a class="page-link" th:if="${pageNumber != '...'}"
                           th:href="@{'/admin/categories?page=' + ${pageNumber}}"
                           th:text="${pageNumber}">
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a class="page-link is-active" th:href="@{'/admin/categories?page=' + ${currentPage + 1}}" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- Pagination End -->

            <div th:replace="BackEnd/fragments/Admin/footer::footer"></div>
        </div>
        <!-- Container-fluid end -->
    </div>
    <!-- Page Body End -->

    <!-- Modal Start -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                    <p>Are you sure you want to log out?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="button-box">
                        <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                        <button type="button" th:onclick="|window.location='@{backend/login}'|" class="btn btn--yes btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->
</div>

<!-- Delete Modal Box Start -->
<div class="modal fade theme-modal remove-coupon" id="deleteModalStart" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-block text-center">
                <h5 class="modal-title w-100" id="deleteModalStartLabel">Xác nhận xóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="deleteModalStartMsg" class="remove-box">
                    <p>Bạn có chắc chắn muốn xóa danh mục này không?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">Huỷ bỏ</button>
                <button type="submit" class="btn btn-animation btn-md fw-bold"
                        data-bs-toggle="modal" data-bs-dismiss="modal" onclick="confirmDelete()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal thông báo tái sử dụng -->
<div class="modal fade theme-modal remove-coupon" id="resultModal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="resultModalTitle">Hoàn tất</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="remove-box text-center">
                    <div id="resultModalIcon" class="wrapper">
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                        </svg>
                    </div>
                    <h4 id="resultModalMessage" class="text-content">Xoá thành công</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal Box End -->

<!-- latest js -->
<script th:src="@{/Backend/assets/js/jquery-3.6.0.min.js}"></script>

<!-- Bootstrap js -->
<script th:src="@{/Backend/assets/js/bootstrap/bootstrap.bundle.min.js}"></script>

<!-- feather icon js -->
<script th:src="@{/Backend/assets/js/icons/feather-icon/feather.min.js}"></script>
<script th:src="@{/Backend/assets/js/icons/feather-icon/feather-icon.js}"></script>

<!-- scrollbar simplebar js -->
<script th:src="@{/Backend/assets/js/scrollbar/simplebar.js}"></script>
<script th:src="@{/Backend/assets/js/scrollbar/custom.js}"></script>

<!-- Sidebar js -->
<script th:src="@{/Backend/assets/js/config.js}"></script>

<!-- customizer js -->
<script th:src="@{/Backend/assets/js/customizer.js}"></script>

<!-- Plugins js -->
<script th:src="@{/Backend/assets/js/sidebar-menu.js}"></script>
<script th:src="@{/Backend/assets/js/notify/bootstrap-notify.min.js}"></script>
<script th:src="@{/Backend/assets/js/notify/index.js}"></script>

<!-- Data table js -->
<script th:src="@{/Backend/assets/js/jquery.dataTables.js}"></script>
<script th:src="@{/Backend/assets/js/custom-data-table.js}"></script>

<!-- sidebar effect -->
<script th:src="@{/Backend/assets/js/sidebareffect.js}"></script>

<!-- Theme js -->
<script th:src="@{/Backend/assets/js/script.js}"></script>

<script>
    let selectedCategoryId = null;
    const deleteModalStart = document.getElementById('deleteModalStart');
    const deleteModalStartLabel = document.getElementById('deleteModalStartLabel');

    deleteModalStartLabel.textContent = 'Xác nhận xoá';

    deleteModalStart.addEventListener('show.bs.modal', function (event) {
        selectedCategoryId = event.relatedTarget.getAttribute('data-id');
    })

    function confirmDelete() {
        if(!selectedCategoryId) return;
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        fetch(`/AgriculturalWarehouseManagementApplication/admin/delete_category/${selectedCategoryId}`, {
            method: 'DELETE',
            headers: {
                [csrfHeader]: csrfToken
            }
        })
        .then((response) => response.json())
        .then(data => {
            document.getElementById('resultModalMessage').innerText = data.message;
            const resultModal = new bootstrap.Modal(document.getElementById('resultModal'));
            resultModal.show();

            selectedCategoryId = null;
            setTimeout(() => location.reload(), 1500);
        })
        .catch(error => {
            alert("Lỗi khi xoá category: " + error);
        });
    }
</script>

<script>
    $(document).ready(function () {
        if ($.fn.DataTable.isDataTable('#table_id')) {
            $('#table_id').DataTable().destroy(); // huỷ trước nếu đã khởi tạo
        }
        const table = $('#table_id').DataTable({
            paging: false,
            searching: true,
            ordering: true,
            info: false,
            language: {
                search: "", // Xóa label cũ
                searchPlaceholder: "Tìm kiếm..."
            }
        });
    });

</script>

</body>

</html>