<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="BackEnd/fragments/Admin/head::head"></head>

<style>
    .title-css{
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        height: 25px;
    }

    .order-tracking, .invoice-btn{
        padding: 10px 15px;
        background: #0cb191;
        color: white;
        border-radius: 5px;
        transition: 0.3s ease all;
    }

    .order-tracking:hover, .invoice-btn:hover{
        color: #fff;
        background: #11c0a3 !important;
    }

    .row-order-detail{
        transition: background-color .3s ease;
    }

    .row-order-detail:hover{
        background: rgb(248, 248, 248);
    }
</style>
<body>
<!-- tap on top start -->
<div class="tap-top">
    <i data-feather="chevrons-up"></i>
</div>
<!-- tap on tap end -->

<!-- page-wrapper Start -->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <div th:replace="BackEnd/fragments/Admin/header::header"></div>
    <div class="page-body-wrapper">
        <div th:replace="BackEnd/fragments/Admin/sidebar::sidebar"></div>

        <div class="page-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="title-header d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5 th:text="'Chi tiết đơn hàng #' + ${order.orderCode}"></h5>
                                    </div>
                                    <!--                                    <div>-->
                                    <!--                                        <span th:text="${orderDetailUserResponses.size()} + ' items'"></span>-->
                                    <!--                                    </div>-->
                                </div>

                                <div class="row g-4">
                                    <!-- Left side: Items -->
                                    <div class="col-xl-8">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Ảnh</th>
                                                    <th>Sản phẩm</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="row-order-detail" th:each="item : ${orderDetailUserResponses}">
                                                    <td><img th:src="${item.imageUrl}" class="img-fluid img-thumbnail" style="max-width: 100px;" /></td>
                                                    <td th:text="${item.productName}"></td>
                                                    <td th:text="${item.quantity}"></td>
                                                    <td th:text="${#numbers.formatInteger(item.productPrice, 0, 'POINT')} + '₫'"></td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="3">Total Price</td>
                                                    <td th:text="${#numbers.formatInteger(order.totalAmount, 0, 'POINT')} + '₫'"></td>
                                                </tr>
                                                <tr th:if="${order.voucher != null}">
                                                    <td colspan="3">Mã giảm giá</td>
                                                    <td th:text="'-' + ${#numbers.formatInteger(order.voucher.getDiscountValue(), 0, 'POINT')} + '₫'"></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">Final Amount</td>
                                                    <td th:text="${#numbers.formatInteger(order.finalAmount, 0, 'POINT')} + '₫'"></td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

                                    <!-- Right side: Info -->
                                    <div class="col-xl-4">
                                        <div class="p-3 border rounded shadow-sm">
                                            <h5 class="title-css"><i class="bi bi-truck"></i> Địa Chỉ Vận Chuyển</h5>
                                            <p style="margin-top: 10px">Địa chỉ : <span th:text="${order.address}"></span></p>
                                            <p>Ghi chú: <span th:text="${order.note}"></span></p>
                                            <form th:action="@{/invoiceUser}" method="get">
                                                <input type="hidden" name="orderCode" th:value="${order.orderCode}" />
                                                <button type="submit" class="invoice-btn btn btn-outline-success">Hóa đơn</button>
                                            </form>
                                        </div>
                                        <div class="p-3 border rounded shadow-sm" style="margin-top: 15px; padding-bottom: 2rem !important;">
                                            <h5 class="title-css"><i class="bi bi-credit-card"></i> Phương Thức Thanh Toán</h5>
                                            <p style="margin-top: 10px">Pay on Delivery (Cash/Card).</p>
                                            <p>Cash on delivery (COD) available.</p>
                                            <a class="order-tracking" th:href="@{'/admin/orders/order_tracking/' + ${order.orderCode}}">Tracking Order</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="BackEnd/fragments/Admin/footer::footer"></div>
        </div>
    </div>
</div>
<!-- page-wrapper End -->

<!-- Modal start -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                <p>Are you sure you want to log out?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="button-box">
                    <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                    <button type="button" th:onclick="|window.location='@{backend/login}'|"
                            class="btn btn--yes btn-primary">Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->

<!-- latest js -->
<script th:src="@{/Backend/assets/js/jquery-3.6.0.min.js}"></script>

<!-- Bootstrap js -->
<script th:src="@{/Backend/assets/js/bootstrap/bootstrap.bundle.min.js}"></script>

<!-- feather icon js -->
<script th:src="@{/Backend/assets/js/icons/feather-icon/feather.min.js}"></script>
<script th:src="@{/Backend/assets/js/icons/feather-icon/feather-icon.js}"></script>

<!-- scrollbar simplebar js -->
<script th:src="@{/Backend/assets/js/scrollbar/simplebar.js}"></script>
<script th:src="@{/Backend/assets/js/scrollbar/custom.js}"></script>

<!-- Sidebar js -->
<script th:src="@{/Backend/assets/js/config.js}"></script>

<!-- customizer js -->
<script th:src="@{/Backend/assets/js/customizer.js}"></script>

<!-- Plugins js -->
<script th:src="@{/Backend/assets/js/sidebar-menu.js}"></script>
<script th:src="@{/Backend/assets/js/notify/bootstrap-notify.min.js}"></script>
<script th:src="@{/Backend/assets/js/notify/index.js}"></script>

<!-- Data table js -->
<script th:src="@{/Backend/assets/js/jquery.dataTables.js}"></script>
<script th:src="@{/Backend/assets/js/custom-data-table.js}"></script>

<!-- sidebar effect -->
<script th:src="@{/Backend/assets/js/sidebareffect.js}"></script>

<!-- Theme js -->
<script th:src="@{/Backend/assets/js/script.js}"></script>

</body>

</html>