
<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" >

<head th:replace="BackEnd/fragments/Admin/head::head"></head>
<style>
    .col-stt {
        text-align: center !important;
        vertical-align: middle !important;
    }
    .alert-success {
        background-color: #d1e7dd !important;
        color: #0c0c0c !important;
    }
    #autoDismissAlert {
        transition: opacity 0.8s ease-in-out, transform 0.4s ease;
        transform: translateY(0);
        opacity: 1;
    }

    #autoDismissAlert.hide {
        opacity: 0;
        transform: translateY(-10px);
    }
</style>
<body>
<!-- tap on top start-->
<div class="tap-top">
    <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end-->

<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    <div th:replace="BackEnd/fragments/Admin/header::header"></div>
    <!-- Page Header Ends-->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <div th:replace="BackEnd/fragments/Admin/sidebar::sidebar"></div>
        <!-- Page Sidebar Ends-->

        <!-- Container-fluid starts-->
        <div class="page-body">
            <div class="container-fluid">
                <div id="autoDismissAlert" th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fa fa-check-circle me-2"></i>
                    <span th:text="${successMessage}">Success message here</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fa fa-exclamation-triangle me-2"></i>
                    <span th:text="${errorMessage}">Error message here</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-table">
                            <div class="card-body">
                                <div class="title-header option-title d-sm-flex d-block">
                                    <h5>Products List</h5>
                                    <div class="right-options">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">import</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Export</a>
                                            </li>
                                            <li>
                                                <a class="btn btn-solid" th:href="@{/admin/add_product}">Add Product</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <div class="table-responsive">
                                        <table class="table all-package theme-table table-product" id="table_id">
                                            <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Product Name</th>
                                                <th>Category</th>
                                                <th>Description</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr th:each="product, init : ${products}">
                                                <!--
                                                <td>
                                                    <div class="table-image">
                                                        <img src="assets/images/product/1.png" class="img-fluid"
                                                             alt="">
                                                    </div>
                                                </td>
                                                -->
                                                <td th:text="${init.count}"></td>
                                                <td th:text="${product.getName()}"></td>
                                                <td th:text="${product.getCategory().getName()}"></td>
                                                <td th:text="${product.getDescription()}"></td>

<!--                                                <td class="td-price">$95.97</td>-->
                                                <td th:text="${product.getStatus()}"></td>

                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a href="order-detail.html">
                                                                <i class="ri-eye-line"></i>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a th:href="@{'/admin/edit_product/' + ${product.getId()}}">
                                                                <i class="ri-pencil-line"></i>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <form method="post" th:action="@{'/admin/delete_product/' + ${product.getId()}}"
                                                            onsubmit="return confirm('Bạn có chắc chắn muốn xoá sản phẩm này ?')">
                                                                <input type="hidden" name="_method" value="delete" />
                                                                <button type="submit" style="outline: none; border: none; background: transparent">
                                                                    <i class="ri-delete-bin-line" style="color: red"></i>
                                                                </button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <div th:replace="BackEnd/fragments/Admin/footer::footer"></div>

        </div>
    </div>
</div>
<!-- page-wrapper End-->

<!-- Modal Start -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                <p>Are you sure you want to log out?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="button-box">
                    <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                    <button type="button" th:onclick="|window.location='@{backend/login}'|" class="btn btn--yes btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->

<!-- Delete Modal Box Start -->
<div class="modal fade theme-modal remove-coupon" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-block text-center">
                <h5 class="modal-title w-100" id="exampleModalLabel22">Are You Sure ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="remove-box">
                    <p>The permission for the use/group, preview is inherited from the object, object will create a
                        new permission for this object</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="remove-box text-center">
                    <div class="wrapper">
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>
                    </div>
                    <h4 class="text-content">It's Removed.</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal Box End -->

<!-- latest js -->
<script th:src="@{/Backend/assets/js/jquery-3.6.0.min.js}"></script>

<!-- Bootstrap js -->
<script th:src="@{/Backend/assets/js/bootstrap/bootstrap.bundle.min.js}"></script>

<!-- feather icon js -->
<script th:src="@{/Backend/assets/js/icons/feather-icon/feather.min.js}"></script>
<script th:src="@{/Backend/assets/js/icons/feather-icon/feather-icon.js}"></script>

<!-- scrollbar simplebar js -->
<script th:src="@{/Backend/assets/js/scrollbar/simplebar.js}"></script>
<script th:src="@{/Backend/assets/js/scrollbar/custom.js}"></script>

<!-- Sidebar js -->
<script th:src="@{/Backend/assets/js/config.js}"></script>

<!-- customizer js -->
<script th:src="@{/Backend/assets/js/customizer.js}"></script>

<!-- Plugins js -->
<script th:src="@{/Backend/assets/js/sidebar-menu.js}"></script>
<script th:src="@{/Backend/assets/js/notify/bootstrap-notify.min.js}"></script>
<script th:src="@{/Backend/assets/js/notify/index.js}"></script>

<!-- Data table js -->
<script th:src="@{/Backend/assets/js/jquery.dataTables.js}"></script>
<script th:src="@{/Backend/assets/js/custom-data-table.js}"></script>

<!-- sidebar effect -->
<script th:src="@{/Backend/assets/js/sidebareffect.js}"></script>

<!-- Theme js -->
<script th:src="@{/Backend/assets/js/script.js}"></script>
<script>
    setTimeout(function () {
        const alertNode = document.getElementById('autoDismissAlert');
        if (alertNode) {
            alertNode.classList.add('hide');
            setTimeout(() => {
                const bsAlert = new bootstrap.Alert(alertNode);
                bsAlert.close(); // Đóng hoàn toàn
            }, 800); // Chờ hiệu ứng hoàn tất
        }
    }, 5000);
</script>
</body>
</html>