<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="BackEnd/fragments/Admin/head::head"></head>

<body>
<!-- tap on top start-->
<div class="tap-top">
    <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end-->

<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    <!--    <div th:replace="BackEnd/fragments/Admin/header::header"></div>-->
    <!-- Page Header Ends-->

    <!-- Page Body Start-->
    <div>
        <!-- Page Sidebar Start-->
        <!--        <div th:replace="BackEnd/fragments/Admin/sidebar::sidebar"></div>-->
        <!-- Page Sidebar Ends-->

        <!-- Order Tracking Seation starts-->
        <div class="page-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="title-header d-flex justify-content-between align-items-center p-3 border-bottom shadow-sm"
                                             style="position: sticky; top: 0; z-index: 1050; background-color: #e1b254;">
                                            <h5 class="mb-0" style="font-size: 30px;">Theo Dõi Đơn Hàng</h5>
                                            <div th:if="${session.accountSeller != null}">
                                                <a href="/AgriculturalWarehouseManagementApplication/seller-dashboard"
                                                   class="btn btn-secondary">
                                                    <i class="bi bi-arrow-left"></i> Quay lại Trang Quản Lý
                                                </a>
                                            </div >

                                            <div th:if="${session.account == null}">
                                                <form th:action="@{/orderDetailsUser}" method="get">
                                                    <input name="orderCode" type="number" th:value="${order.orderCode}" hidden/>
                                                    <button class="btn-outline-success glow-btn" style="padding: 20px; border: none;font-size: 16px; margin-top: 22px">Trở về đơn hàng chi tiết</button>
                                                </form>
                                            </div>

                                            <div th:if="${session.account != null}">
                                                <form th:action="@{/orderDetailsUser}" method="get">
                                                    <input name="orderCode" type="number" th:value="${order.orderCode}" hidden/>
                                                    <button class="btn-outline-success glow-btn" style="padding: 20px; border: none;font-size: 16px; margin-top: 22px">Trở về đơn hàng chi tiết</button>
                                                </form>
                                            </div>

                                        </div>
                                        <div><br></div>
                                        <div class="row">
                                            <div class="col-12 overflow-hidden">
                                                <div class="order-left-image">
                                                    <div class="tracking-product-image">
                                                        <img src="/AgriculturalWarehouseManagementApplication/Backend/assets/images/LOGO_ORDER_TRACKING.jpg"
                                                             class="img-fluid w-100 blur-up lazyload" alt="">
                                                    </div>

                                                    <div class="order-image-contain">
                                                        <h4>Mã đơn hàng : <span th:text="${order.orderCode}"></span>
                                                        </h4>
                                                        <div class="tracker-number">
                                                            <p style="font-size: 16px">SĐT : <span
                                                                    th:text="${order.phone}">#123456</span></p>
                                                            <p style="font-size: 16px">Địa chỉ : <span
                                                                    th:text="${order.address}">123 ABC</span>
                                                            </p>
                                                            <p style="font-size: 16px"> Ngày đặt : <span
                                                                    th:text="${order.orderDate}">20-07-2025</span></p>
                                                        </div>
                                                        <h5 th:switch="${order.status}">
                                                            <span th:case="'PENDING'" style="color: orange;">Đơn hàng đang chờ xác nhận.</span>
                                                            <span th:case="'CONFIRMED'" style="color: dodgerblue;">Đơn hàng đã được xác nhận. Chờ xuất kho.</span>
                                                            <span th:case="'STOCKOUT'" style="color: teal;">Đơn hàng đã được xuất kho. Chuẩn bị giao hàng.</span>
                                                            <span th:case="'DELIVERED'" style="color: mediumslateblue;">Đơn hàng đang được giao.</span>
                                                            <span th:case="'COMPLETED'" style="color: green;">Bạn đã nhận được hàng. Cảm ơn!</span>
                                                            <span th:case="'CANCELLED'" style="color: red;">Đơn hàng đã bị huỷ.</span>

                                                            <!-- Default/fallback -->
                                                            <span th:case="__${null}__" style="color: gray;">Trạng thái không xác định.</span>
                                                        </h5>

                                                    </div>
                                                </div>
                                            </div>

                                            <ol class="progtrckr" data-progtrckr-steps="5" id="tracking-status"
                                                th:attr="data-current-status=${order.status}">
                                                <li><br>Chờ phê duyệt</li>
                                                <li><br>Đã xác nhận</li>
                                                <li><br>Đã xuất kho</li>
                                                <li><br>Đã giao</li>
                                                <li><br>Hoàn tất</li>
                                            </ol>

                                            <div class="text-center mt-4" th:switch="${order.status}">
                                                <img th:case="'PENDING'"
                                                     src="/AgriculturalWarehouseManagementApplication/Backend/assets/images/PENDING.gif"
                                                     class="img-fluid" alt="Đang chờ xác nhận">

                                                <img th:case="'CONFIRMED'"
                                                     src="/AgriculturalWarehouseManagementApplication/Backend/assets/images/CONFIRMED.gif"
                                                     class="img-fluid" alt="Đã xác nhận">

                                                <img th:case="'STOCKOUT'"
                                                     src="/AgriculturalWarehouseManagementApplication/Backend/assets/images/STOCKOUT.gif"
                                                     class="img-fluid" alt="Xuất kho">

                                                <img th:case="'DELIVERED'"
                                                     src="/AgriculturalWarehouseManagementApplication/Backend/assets/images/DELIVERED.gif"
                                                     class="img-fluid" alt="Đang giao">

                                                <img th:case="'COMPLETED'"
                                                     src="/AgriculturalWarehouseManagementApplication/Backend/assets/images/COMPLETED.gif"
                                                     class="img-fluid" alt="Hoàn tất">

                                                <img th:case="'CANCELLED'"
                                                     src="/AgriculturalWarehouseManagementApplication/Backend/assets/images/CANCELLED.gif"
                                                     class="img-fluid" alt="Đã huỷ">

                                                <img th:case="__${null}__"
                                                     src="/AgriculturalWarehouseManagementApplication/Backend/assets/images/NULL.gif"
                                                     class="img-fluid" alt="Không xác định">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- footer start-->
            <!--            <div class="container-fluid">-->
            <!--                <footer class="footer">-->
            <!--                    <div class="row">-->
            <!--                        <div class="col-md-12 footer-copyright text-center">-->
            <!--                            <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </footer>-->
            <!--            </div>-->
            <!-- footer end-->
        </div>
        <!-- Order Tracking Seation End-->
    </div>
    <!-- Page Body End-->
</div>
<!-- page-wrapper End-->

<!-- Modal Start -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                <p>Are you sure you want to log out?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="button-box">
                    <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                    <button type="button" th:onclick="|window.location='@{backend/login}'|"
                            class="btn btn--yes btn-primary">Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const statusList = ["PENDING", "CONFIRMED", "STOCKOUT", "DELIVERED", "COMPLETED"];
        const tracking = document.getElementById("tracking-status");
        const currentStatus = tracking.dataset.currentStatus;

        const currentIndex = statusList.indexOf(currentStatus);

        const steps = tracking.querySelectorAll("li");
        steps.forEach((step, index) => {
            if (index <= currentIndex) {
                step.classList.add("progtrckr-done");
            } else {
                step.classList.add("progtrckr-todo");
            }
        });
    });
</script>


<style>
    .img-fluid {
        width: 250px;
        height: auto;
        object-fit: cover; /* hoặc 'contain' tuỳ theo nhu cầu */
        border-radius: 10px;
    }

    .progtrckr li {
        margin-top: 10px;
    }

    .progtrckr {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 20px 0;
    }

    .progtrckr li {
        width: 100%;
        text-align: center;
        position: relative;
    }

    .progtrckr li::before {
        content: '●';
        display: block;
        margin: 0 auto 10px;
        font-size: 20px;
    }

    .progtrckr-done::before {
        color: green;
    }

    .progtrckr-todo::before {
        color: lightgray;
    }

    .progtrckr li:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 10px;
        left: 50%;
        height: 2px;
        width: 100%;
        background-color: lightgray;
        z-index: -1;
    }

    .progtrckr-done + li::after {
        background-color: green;
    }


</style>
<!-- latest js -->
<script th:src="@{/Backend/assets/js/jquery-3.6.0.min.js}"></script>

<!-- Bootstrap js -->
<script th:src="@{/Backend/assets/js/bootstrap/bootstrap.bundle.min.js}"></script>

<!-- feather icon js -->
<script th:src="@{/Backend/assets/js/icons/feather-icon/feather.min.js}"></script>
<script th:src="@{/Backend/assets/js/icons/feather-icon/feather-icon.js}"></script>

<!-- scrollbar simplebar js -->
<script th:src="@{/Backend/assets/js/scrollbar/simplebar.js}"></script>
<script th:src="@{/Backend/assets/js/scrollbar/custom.js}"></script>

<!-- Sidebar js -->
<script th:src="@{/Backend/assets/js/config.js}"></script>

<!-- customizer js -->
<script th:src="@{/Backend/assets/js/customizer.js}"></script>

<!-- Plugins js -->
<script th:src="@{/Backend/assets/js/notify/index.js}"></script>

<!-- Data table js -->
<script th:src="@{/Backend/assets/js/jquery.dataTables.js}"></script>
<script th:src="@{/Backend/assets/js/custom-data-table.js}"></script>

<!-- sidebar effect -->
<script th:src="@{/Backend/assets/js/sidebareffect.js}"></script>

<!-- Theme js -->
<script th:src="@{/Backend/assets/js/script.js}"></script>

<!-- bootstrap tag-input js -->
<script th:src="@{/Backend/assets/js/bootstrap-tagsinput.min.js}"></script>

<!-- customizer js -->
<script th:src="@{/Backend/assets/js/sidebar-menu.js}"></script>

<!--Dropzon js -->
<script th:src="@{/Backend/assets/js/dropzone/dropzone.js}"></script>
<script th:src="@{/Backend/assets/js/dropzone/dropzone-script.js}"></script>


</body>

</html>