<!--<section th:fragment="productsection1_home">-->
<!--    <div class="container-fluid-lg">-->
<!--        <div class="title">-->
<!--            <h2>FRUIT & VEGETABLES</h2>-->
<!--            <span class="title-leaf">-->
<!--                    <svg class="icon-width">-->
<!--                        <use xlink:href="../assets/svg/leaf.svg#leaf"></use>-->
<!--                    </svg>-->
<!--                </span>-->
<!--            <p>A virtual assistant collects the products from your list</p>-->
<!--        </div>-->
<!--        <div class="product-border border-row">-->
<!--            <div class="slider-6_2 no-arrow">-->
<!--                <div th:each="group : ${groupedProducts}">-->
<!--                    <div th:each="product : ${group}" class="row m-0" >-->
<!--                        <div  class="col-12 px-0">-->
<!--                            <div class="product-box wow fadeIn">-->
<!--                                <div class="product-image">-->
<!--                                    <a href="product-left-thumbnail.html">-->
<!--                                        <img th:src="@{${product.imageUrlGallery}}"-->
<!--                                             class="img-fluid blur-up lazyload" alt="">-->
<!--                                    </a>-->
<!--                                    <ul class="product-option justify-content-around">-->
<!--                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">-->
<!--                                            <a href="javascript:void(0)" data-bs-toggle="modal"-->
<!--                                               data-bs-target="#view">-->
<!--                                                <i data-feather="eye"></i>-->
<!--                                            </a>-->
<!--                                        </li>-->

<!--                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">-->
<!--                                            <a href="compare.html">-->
<!--                                                <i data-feather="refresh-cw"></i>-->
<!--                                            </a>-->
<!--                                        </li>-->

<!--                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">-->
<!--                                            <a href="wishlist.html" class="notifi-wishlist">-->
<!--                                                <i data-feather="heart"></i>-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="product-detail">-->
<!--                                    <a href="product-left-thumbnail.html">-->
<!--                                        <h6 th:text="${product.productName}" class="name name-2 h-100">Fresh Brown Coconut</h6>-->
<!--                                    </a>-->

<!--                                    <div class="product-rating mt-2">-->
<!--                                        <ul class="rating">-->
<!--                                            <li>-->
<!--                                                <i data-feather="star" class="fill"></i>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <i data-feather="star" class="fill"></i>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <i data-feather="star" class="fill"></i>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <i data-feather="star" class="fill"></i>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <i data-feather="star"></i>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                        <span>(34)</span>-->
<!--                                    </div>-->

<!--                                    <h6 class="sold weight text-content fw-normal">1 KG</h6>-->

<!--                                    <div class="counter-box">-->
<!--                                        <h6 class="sold theme-color">$ 80.00</h6>-->

<!--                                        <div class="addtocart_btn">-->
<!--                                            <button class="add-button addcart-button btn buy-button text-light">-->
<!--                                                <span>Add</span>-->
<!--                                                <i class="fa-solid fa-plus"></i>-->
<!--                                            </button>-->
<!--                                            <div class="qty-box cart_qty">-->
<!--                                                <div class="input-group">-->
<!--                                                    <button type="button" class="btn qty-left-minus"-->
<!--                                                            data-type="minus" data-field="">-->
<!--                                                        <i class="fa fa-minus"></i>-->
<!--                                                    </button>-->
<!--                                                    <input class="form-control input-number qty-input" type="text"-->
<!--                                                           name="quantity" value="1">-->
<!--                                                    <button type="button" class="btn qty-right-plus"-->
<!--                                                            data-type="plus" data-field="">-->
<!--                                                        <i class="fa fa-plus"></i>-->
<!--                                                    </button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<section class="product-section"  th:fragment="productsection1_home">
    <div class="container-fluid-lg">
        <div class="title">
            <h2>Top Products</h2>
        </div>

        <div class="slider-6 img-slider slick-slider-1 arrow-slider">
            <div th:each="group : ${groupedProducts}">
                <div th:each="product : ${group}" class="product-box-4 wow fadeInUp">
                    <div class="product-image">
                        <div class="label-flex">
                            <button class="btn p-0 wishlist btn-wishlist notifi-wishlist">
                                <i class="iconly-Heart icli"></i>
                            </button>
                        </div>

                        <a href="product-left-thumbnail.html">
                            <img th:src="@{${product.imageUrlGallery}}" class="img-fluid" alt="">
                        </a>

                        <ul class="option">
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View">
                                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                    <i class="iconly-Show icli"></i>
                                </a>
                            </li>
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                <a href="compare.html">
                                    <i class="iconly-Swap icli"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="product-detail">
                        <ul class="rating">
                            <li th:each="i : ${#numbers.sequence(1, 5)}">
                                <i data-feather="star"
                                   th:classappend="${i <= product.ratingProductDetail} ? 'fill' : ''">
                                </i>
                            </li>
                        </ul>
                        <span th:text="${ '(' + product.ratingCount + ')'}" >Rating count</span>
                        <a href="product-left-thumbnail.html">
                            <h5 th:text="${product.productName}"  class="name">Product name</h5>
                        </a>
                        <h5 th:text="${ '$'+ product.productPrice}" class="price">
                            Product price smallest in ProductDetail
                        </h5>
                        <div class="price-qty">
                            <button class="buy-button buy-button-2 btn btn-cart">
                                <i class="iconly-Buy icli text-white m-0"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Product Section End -->