<div th:fragment="sidebarblog">
    <div class="left-sidebar-box wow fadeInUp">
        <div class="left-search-box">
            <form th:action="@{/blog-list}" method="get">
                <div class="search-box" style="display: flex">
                    <input type="search" class="form-control" name="keyword"
                           th:value="${keyword}" placeholder="Tìm kiếm theo tên tác giả hoặc nội dung...">
                    <button  type="submit" class="btn btn-link" style="padding-left: 6px;">
                        <!--                        <i class="fa fa-search"></i>-->
                    </button>
                </div>
            </form>
        </div>

        <div class="accordion left-accordion-box" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne">
                        Bài Đăng Gần Đây
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body pt-0">
                        <div class="recent-post-box" th:each="recent : ${recentBlogs}">
                            <div class="recent-box">
                                <a th:href="@{|/blog-detail?id=${recent.blogID}|}" class="recent-image">
                                    <img th:src="@{'/blog/'  + ${recent.thumbnail}}"
                                         style="padding: 5px ; object-fit:cover;"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>

                                <div class="recent-detail">
                                    <a th:href="@{|/blog-detail?id=${recent.blogID}|}">
                                        <h5 th:text="${recent.title}" class="recent-name">Green onion knife
                                            and salad placed</h5>
                                    </a>
                                    <h6><span th:text="${#dates.format(recent.createdAt, 'dd MMM, yyyy')}">25 Jan, 2022</span>
                                        <i data-feather="thumbs-up"></i></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Trending Product -->
            <div class="pt-25">
                <div class="category-menu">
                    <h3>Xu hướng sản phẩm</h3>

                    <ul class="product-list product-right-sidebar border-0 p-0">
                        <li th:each="productDetail : ${trendingProducts}">
                            <div class="offer-product">
                                <a th:href="@{/productDetail(productId=${productDetail.productId})}"
                                   class="offer-image">
                                    <img th:src="@{${'seller/'+productDetail.imageUrl}}"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>

                                <div class="offer-detail">
                                    <div>
                                        <a th:href="@{/productDetail(productId=${productDetail.productId})}">
                                            <h6 th:text="${productDetail.productName}" class="name">Product
                                                Name</h6>
                                        </a>
                                        <span th:text="${productDetail.productWeight}">Product weight</span>
                                        <h6 th:text="${#numbers.formatInteger(productDetail.price, 0, 'POINT') + '₫'}"
                                            class="price theme-color">Price</h6>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>